.mainDashboard {
  position: relative;

  .movieList {
    padding-top: 56px;

    .wrapLogoutMovieList {
      cursor: pointer;
    position: absolute;
    left: 85%;
      /* top: 70%; */
      .clickableLogout {
        display: flex;
        justify-content: space-between;
      }

      .logoutTxt {
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        margin-top: 4px;
        padding-right: 10px;
      }
    }
    .movieListCardsMain {
      position: absolute;
      top: 20vh;
      display: flex;
      flex-wrap: wrap;
      left: 9.5vw;
      justify-content: flex-start;

      .movieListCards {
        width: 250px;
        height: 360px;
        padding: 8px 8px 55px 8px;
        line-height: 3vh;
        border-radius: 12px;
        background-color: #092c39;
        margin-right: 4vw;
        margin-top: 2vh;
        position: relative;

        #alignMovieImage {
          width: 100%;
          height: 100%;
        }

        .alignTxtMovie {

          #movieTxtName {
            font-size: 14px;
            color: #ffffff;
          }
          #movieYear {
            font-size: 12px;
            color: #ffffff;
          }
        }
      }

    }
  }

  .wrapLogout {
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 8%;
    .clickableLogout {
      display: flex;
      justify-content: space-between;
    }

    .logoutTxt {
      color: #ffffff;
      font-weight: 700;
      font-size: 16px;
      margin-top: 4px;
      padding-right: 10px;
    }
  }
  .dashboardContentMovieList {
    .dashboardTxtMyMovies {
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      display: flex;
      position: absolute;
      left: 10%;
    }
    .imgAddMovie {
      height: 3vh;
      width: 3vw;
      cursor: pointer;
    }
  }
  .dashboardContent {
    text-align: center;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    line-height: 2;

    .add-new-movie-button {
      width: 300px;
      height: 54px;
      background-color: #2bd17e;
      box-shadow: none;
      border-radius: 10px;

      &:hover {
        background-color: #2bd17e;
      }
    }

    .edit-new-movie-button {
      width: 300px;
      height: 54px;
      background-color: #2bd17e;
      box-shadow: none;
      border-radius: 10px;
      margin-left: 10px;

      &:hover {
        background-color: #2bd17e;
      }
    }

    .dashboardTxt {
      font-size: 48px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
