.mainDashboard{
    position: relative;
   
    .wrapLogout {
        cursor: pointer;
        position: absolute;
        left: 90%;
        top: 15%;
        .clickableLogout{
            display: flex;
            justify-content: space-between;
        }
        
        .logoutTxt {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
            margin-top: 4px;
            padding-right: 10px;
        }
    }
    .dashboardContent{
        text-align: center;
        padding-top: 324px;
        display: flex;
        flex-direction: column;
        line-height: 2;

        .add-new-movie-button{
            width: 300px;
            height: 54px;
            background-color: #2BD17E;
            box-shadow: none;
            border-radius: 10px;
    
            &:hover{
                background-color: #2BD17E;
            }
        }
        .dashboardTxt {
            font-size: 48px;
            font-weight: 600;
            color: #FFFFFF;
        }
    }
}