.bg-imgcomm {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  background-color: #093545;
  height: 100vh;

  .bottomImage{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 10%;
  }
}